.compare-section {
  text-align: center;
  margin-top: 40px;
}

.compare-section select {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.compare-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.compare-card {
  background: rgba(255, 255, 255, 0.1); /* slight glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
}

.compare-card:hover {
  transform: translateY(-5px);
}

.compare-card h3 {
  margin-bottom: 10px;
}

.highlight {
  color: green;
  font-weight: bold;
}